

/* Colors Collection */

$LightRaf:    #a8b6bf;
$LightSomon:  #edd9c0;
$LightBrown:  #7d4627;
$Lightgreen:  #c9d8c5;

$normal:     #7d4627;
$hover:      #7d4627;
$active:     #7d4627;
$visited:    #a8b6bf;
$focus:      #7d4627;




